{{> head }}


{{> navbar }}

<div class="container mt-5">

    <div class="card" style="width: 18rem;">
        <img src="assets/img/102382700_540789890136953_4723166612837424748_o.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-center"> {{capitalize (getName)}}</h5>
            
        </div>
    </div>


    
</div>


{{> footer}}